/* Base
----------------------------------------------------------------------------- */

@import 'node_modules/normalize.css/normalize.css';

* {
  box-sizing : border-box;
}

body {

  background : red;

}
