/* Base
----------------------------------------------------------------------------- */

@import 'node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing : border-box;
}

/* Colours
----------------------------------------------------------------------------- */

:root {

  /* http://base2t.one/demo/sea/ */
  --clr-black-0: #1d262f;
  --clr-white-0: #efefef;

}

:root {

  --ms-bases  : 0.5;
  --ms-ratios : 1.414;

  /* http://base2t.one/demo/drawbridge/ */
  --clr-black-0: #1b1f32;
  --clr-black-1: #252a41;
  --clr-black-2: #444b6f;
  --clr-black-3: #51587b;
  --clr-black-4: #5e6587;
  --clr-black-5: #797e96;
  --clr-black-6: #9094a7;
  --clr-black-7: #a6aab9;

  --clr-blue-0: #4961da;
  --clr-blue-1: #516aec;
  --clr-blue-2: #627af4;
  --clr-blue-3: #7289fd;
  --clr-blue-4: #8b9efd;
  --clr-blue-5: #a5b3fe;
  --clr-blue-6: #c3cdfe;
  --clr-blue-7: #e1e6ff;

  --clr-grey-0: #71787a;
  --clr-grey-1: #818b8d;
  --clr-grey-2: #939c9f;
  --clr-grey-3: #a6aeb0;
  --clr-grey-4: #b7c0c2;
  --clr-grey-5: #cbd4d7;
  --clr-grey-6: #e1e8ea;
  --clr-grey-7: #f9fbfb;

  --clr-teal-0: #289dbd;
  --clr-teal-1: #33abcc;
  --clr-teal-2: #4db0cb;
  --clr-teal-3: #5cbcd6;
  --clr-teal-4: #67c9e4;
  --clr-teal-5: #75d5f0;
  --clr-teal-6: #86e0f9;
  --clr-teal-7: #99e9ff;

}

/* Layout
----------------------------------------------------------------------------- */

html,
body {
  min-height : 100%;
}

body {
  display : flex;
  flex-direction : column;
}

header,
footer,
main {
  padding : ms(2)rem;
  flex : 1 0 auto;
}

main {
  padding-bottom : ms(4)rem;
}

footer ul {
  display : flex;
  flex-direction : column;
}

footer li + li {
  margin-top : ms(2)rem;
}

.app {
  display        : flex;
  flex-direction : column;
}

.app > section {
  display        : flex;
  flex-direction : column;
  flex           : 1 0 auto;
  margin         : 1rem 0;
}

.app > section:first-child {
  margin-top : 0;
}

.app > section:last-child {
  margin-bottom : 0;
}

@media (min-width: 700px) {
  .app {
    flex-direction : row;
  }

  .app > section {
    margin : 0 1rem;
  }

  .app > section:first-child {
    margin-left : 0;
  }

  .app > section:last-child {
    margin-right : 0;
  }
}

@media (min-width: 1000px) {
  h1,
  h2,
  main > p,
  footer > ul,
  .app {
    margin-left  : auto;
    margin-right : auto;
    width : 1000px;
  }
}

/* Theme
----------------------------------------------------------------------------- */

body {
  background : var(--clr-grey-5);
  color       : var(--clr-black-0);
  font-family : "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header {
  background          : var(--clr-grey-6);
  border-bottom       : 1px solid;
  border-bottom-color : var(--clr-grey-3);
}

main {
  background  : var(--clr-grey-7);
}

h1,
h2,
h3 {
  font-weight : normal;
}

a {
  color : var(--clr-teal-0);
}

a:hover,
a:focus {
  color : var(--clr-teal-2);
}

a:active {
  color : var(--clr-blue-1);
}

a[disabled] {
  color : var(--clr-grey-1);
  pointer-events : none;
}

textarea {
  border        : 1px solid;
  border-color  : var(--clr-grey-1);
  min-height    : ms(10)rem;
  padding       : ms(2)rem;
  font-family   : Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

footer {
  border-top: 1px solid;
  border-color : var(--clr-grey-3);
}

footer ul {
  list-style : none;
  padding : 0;
}

footer li {
  color : var(--clr-grey-0);
}

/* App
----------------------------------------------------------------------------- */

.app {
  border-top : 1px solid var(--clr-grey-4);
  margin-top : ms(3)rem;
}

.app h4 {
  font-weight    : normal;
  text-align     : center;
  text-transform : uppercase;
}

/* Preview
----------------------------------------------------------------------------- */

.preview {
  border        : 1px solid var(--clr-grey-4);
  border-radius : 5px;
  box-shadow    : 0 3px 10px rgba(0,0,0,0.2);
  display       : flex;
  flex-wrap     : wrap;
  list-style    : none;
  margin        : 0;
  padding       : 5px;
}

.preview__item {
  border        : 1px solid;
  border-radius : 2px;
  height        : ms(2.5)rem;
  margin        : 5px;
  width         : ms(2.5)rem;
}

.preview__item--empty {
  border-color : transparent;
  color        : var(--clr-grey-3);
  height       : auto;
  padding      : ms(2)rem;
  text-align   : center;
  width        : 100%;
}

.preview__item--dark {
  color : var(--clr-white-0);
}

.preview__item--light {
  color : var(--clr-black-0);
}

/* ------------------------------------------------------------------- KAIZEN */
